<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Ninja Gold</title>
</head>
<body>
    <div class="container-fluid">
        <h1>Ninja Gold</h1>
        <h2>Your Gold: {{request.session.gold}}</h2>
        <div class="locations">
            <div class="box" id="farm">
                <h3>Farm</h3>
                <p>(Earns 10-20 gold)</p>
                <form action="/process_money" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="location" value="farm">
                    <button type="submit" class="btn btn-warning">Find Gold</button>
                </form>
            </div>
            <div class="box" id="cave">
                <h3>Cave</h3>
                <p>(Earns 5-10 gold)</p>
                <form action="/process_money" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="location" value="cave">
                    <button type="submit" class="btn btn-warning">Find Gold</button>
                </form>
            </div>
            <div class="box" id="house">
                <h3>House</h3>
                <p>(Earns 2-5 gold)</p>
                <form action="/process_money" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="location" value="house">
                    <button type="submit" class="btn btn-warning">Find Gold</button>
                </form>
            </div>
            <div class="box" id="casino">
                <h3>Casino</h3>
                <p>(Earns/Takes 0-50 gold)</p>
                <form action="/process_money" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="location" value="casino">
                    <button type="submit" class="btn btn-warning">Find Gold</button>
                </form>
            </div>
        </div>
        <h2>Activities:</h2>
        <div id="activities">
            {% for activity in activities %}
                {% if 'Lost' in activity %}
            <p id="red">{{activity}}</p>  
                {% else %}
            <p id="green">{{activity}}</p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="reset">
            <a href="/reset" class="btn btn-warning" id="resetBtn">Reset</a>
        </div>
        
        
    </div>
</body>
</html>