<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Ninja Gold</title>
</head>
<body>
    <div class="container">
        <h1>Ninja Gold</h1>
        <h2>Your Gold:<input type="text"></h2>
        <div class="places">
            <div class="box" id="farm">
                <h3>Farm</h3>
                <p>(Earns 10-20 gold)</p>
                <form>
                    <input type="hidden" name="place" value="farm">
                    <button>Find Gold</button>
                </form>
            </div>
            <div class="box" id="cave">
                <h3>Cave</h3>
                <p>(Earns 5-10 gold)</p>
                <form>
                    <input type="hidden" name="place" value="cave">
                    <button>Find Gold</button>
                </form>
            </div>
            <div class="box" id="house">
                <h3>House</h3>
                <p>(Earns 2-5 gold)</p>
                <form>
                    <input type="hidden" name="place" value="house">
                    <button>Find Gold</button>
                </form>
            </div>
            <div class="box" id="casino">
                <h3>Casino</h3>
                <p>(Earns/Takes 0-50 gold)</p>
                <form>
                    <input type="hidden" name="place" value="casino">
                    <button>Find Gold</button>
                </form>
            </div>
        </div>
        <h2>Activities:</h2>
        <div id="activities">
            <p class="">content goes here</p>
        </div>
        <div class="reset">
            <button id="resetBtn">Reset</button>
        </div>
    </div>
</body>
</html>